@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.nav-ul li a{
  color: rgb(216, 22, 16);
  padding: 5px;
  text-decoration: none;
}

.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.nav-right{
  text-align: right;
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}
/* REGISTER */
.register, .product{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
}
.inputBox{
  display: block;
  margin: 15px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue
}
.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: none;
  cursor: pointer;
}
/* Products */
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin: 0
}
.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}