<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <section id="formSection" class="container">
        <h2 class="text-dark text-center my-3">Sign Up for Tech Conclave</h2>
        <form action="/participate" method="post" enctype="multipart/form-data" class="bg-secondary p-4 text-light">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="tel" class="form-control" name="phone" id="phone">
            </div>
            <div class="mb-3">
              <label for="">Field of interest</label>
              <br>
              <input type="radio" name="topic" id="webDev" value="Web Development"> Web Development
              <input type="radio" name="topic" id="appDev" value="Mobile App Development"> Mobile App Development
              <input type="radio" name="topic" id="dataSc" value="Data Science"> Data Science
              <input type="radio" name="topic" id="mcLearning" value="Machine Learning"> Machine Learning
              <input type="radio" name="topic" id="gameDev" value="Game Development"> Game Development
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Upload Photograph</label>
                <input class="form-control" name="photo" type="file" id="photo" multiple>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/participants">
            <button class="btn btn-outline-primary m-5">VIEW PARTICIPANTS >></button>
        </a>
          
    </section> 
</body>
</html>