body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

#imageDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.img-div img{
    width: 32.5vw;
    height: auto;
}
#modal{
    position: fixed;
    z-index: 5;
    width: 70vw;
    height: 80vh;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imageClose, #imageLeft, #imageRight{
    position: fixed;
    z-index: 12;
    width: 2em;
}

#imageLeft{
    top: 50%;
    left: 2%;
}

#imageRight{
    top: 50%;
    right: 2%;
}

.hide{
    display: none;
}
.show{
    display: block;
}
#imageLeft, #imageRight, #imageClose:hover{
    cursor: pointer;
}
#image{
    z-index: 9;
}

#image img{
    position: fixed;
    top: 0;
    width: 99%;
    height: 98%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:500px){
    main{
        display: flex;
        flex-direction: column;
    }
    .img-div img{
        width: 100%;
        height: auto;
    }
    #modal{
        width: 99vw;
        height: 50vh;
    }
}