<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .data-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      .data-list li {
        margin: 5px 0;
        font-weight: bold;
      }
      .data-list li span {
        font-weight: normal;
      }
    </style>
    <script>
      function addKeyValue(){
        const keyValueContainer = document.getElementById("key-value-container")
        const div = document.createElement("div")
        div.classList.add("key-value-pair")
        div.innerHTML = `
            <input type="text" class="key" placeholder="Key" required>
            <input type="text" class="value" placeholder="Value" required>
            <button type="button" onclick="removeKeyValuePair(this)">Remove</button>
        `
        keyValueContainer.appendChild(div)
      }

      function removeKeyValuePair(button){
        const keyValueContainer = document.getElementById("key-value-container");
        keyValueContainer.removeChild(button.parentElement)
      }

      function addBook(){
        const pairs = document.querySelectorAll(".key-value-pair");
        const otherdetails = {}

        pairs.forEach((pair) => {
          const key = pair.querySelector(".key").value;
          const value = pair.querySelector(".value").value;
          otherdetails[key] = value;
        })

        document.getElementById("other-details").value = JSON.stringify(otherdetails)
      }
    </script>
  </head>
  <body>
    <h1>JSON in POSTGRESQL</h1>
    <h3>ADD NEW BOOK</h3>
    <form action="/add-book" method="post" onsubmit="addBook()">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required>
      <br>

      <label for="author">Author</label>
      <input type="text" name="author" id="author" required>
      <br>

      <label>Other Details</label>
      <div id="key-value-container">
        <div class="key-value-pair">
          <input type="text" class="key" placeholder="key" required>
          <input type="text" class="value" placeholder="value" required>
        </div>
      </div>
      <button type="button" onclick="addKeyValue()">Add key-value pair</button>
      <br>

      <!-- Hidden textarea to store the json string -->
       <textarea name="other-details" id="other-details" style="visibility: block; height: 0; padding: 0;"></textarea>
      <button type="submit">Add Book</button>
    </form>


    <h3>BOOK LIST</h3>
    <div>
        <% if(data.length > 0) { %> <% data.forEach(book => { %>
        <p>Title: <%= book.title %></p>
        <p>Author: <%= book.author %></p>
        <ul class="data-list">
          <% Object.entries(book.other_details).forEach(([key, value]) => { %>
          <li><%= key %>: <span><%= value %></span></li>
          <% }) %>
        </ul>
        <hr />
        <% }) %> <% } %>
      </div>
  </body>
</html>
