@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .easedown{
        @apply transition duration-700 ease-in-out
    }
}

body{
    background-color: black;
}

/* CSS for main menu */
.slideUp{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

@keyframes slideUp{
    0%{
        transform: translateY(0)
    }
    100%{
        transform: translateY(-100%)
    }
}

.slideDown{
    animation-name: slideDown;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

@keyframes slideDown{
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0)
    }
}

input[type=radio]{
    accent-color: rgb(255, 217, 0);
}

/* CSS for search dropdown */
.showSearch{
    animation-name: displaySearch;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes displaySearch{
    0%{
        transform: translate(-50%, -50%) scale(0, 0);
    }
    100%{
        transform: translate(0, 0) scale(1, 1);

    }
}

.hideSearch{
    animation-name: hideSearch;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

@keyframes hideSearch{
    0%{
        transform: translate(0, 0) scale(1, 1);
    }
    100%{
        transform: translate(-50%, -50%) scale(0, 0);
    }
}
/* CSS for language dropdown */
.showLang{
    animation-name: displayLang;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes displayLang{
    0%{
        transform: translate(50%, -50%) scale(0, 0);
    }
    100%{
        transform: translate(0, 0) scale(1, 1);

    }
}

.hideLang{
    animation-name: hideLang;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

@keyframes hideLang{
    0%{
        transform: translate(0, 0) scale(1, 1);
    }
    100%{
        transform: translate(50%, -50%) scale(0, 0);
    }
}

/* Carousal CSS */
.slideLeft{
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-fill-mode: both;
}

@keyframes slideLeft{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-120%)
    }
}

.slideRight{
    animation-name: slideRight;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0)
    }
}

/* Side Menu CSS */
.slideIn{
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideIn{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0)
    }
}

.slideOut{
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideOut{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-100%)
    }
}
