body {
  background: #000000;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skull {
  width: 30vw;
  height: 48vh;
  top: 50%;
  position: absolute;
  background-color: black;
  transform: translateY(-50%)scale(0.2, 0.2)
}
#head {
  width: 150px;
  height: 100px;
  background: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}
#eyeL {
  width: 45px;
  height: 45px;
  top: 50%;
  left: 30%;
  background: #000000;
  border-bottom-right-radius: 55px;
  border-top-left-radius: 55px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translate(-50%, -50%);
  position: absolute;
}
#eyeR {
  width: 45px;
  height: 45px;
  top: 50%;
  left: 70%;
  background: #000000;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 55px;
  border-top-right-radius: 55px;
  transform: translate(-50%, -50%);
  position: absolute;
}
#eyeLpupil,
#eyeRpupil {
  width: 5px;
  height: 5px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px orange;
}
#teeths {
  width: 150px;
  height: 22px;
  top: 74%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.anime {
  animation-name: jaw;
  animation-duration: 0.3s;
  animation-iteration-count: 8;
}
@keyframes jaw {
  0% {
    top: 74%;
  }
  100% {
    top: 75.5%;
  }
}
.eyeAnime {
  animation-name: pupil;
  animation-duration: 0.3s;
  animation-iteration-count: 8;
}
@keyframes pupil {
  0% {
    width: 5px;
    height: 5px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}
.animated {
  animation-name: bounce;
  animation-duration: 5s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0% {
    transform: translateY(-50%)scale(0.2, 0.2);
  }
  20%{
    transform: translateY(-30%)scale(0.4, 0.4)
  }
  40% {
    transform: translateY(-50%)scale(0.6, 0.6);
  }
  60% {
    transform: translateY(-15%)scale(0.8, 0.8);
  }
  80%{
    transform: translateY(-50%)scale(0.9, 0.9);  
  }
  100%{
    transform: translateY(-5%)scale(1,1);
  }
}


#teeth1 {
  width: 15px;
  height: 20px;
  background: white;
  left: 38%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#teeth2 {
  width: 15px;
  height: 20px;
  background: white;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#teeth3 {
  width: 15px;
  height: 20px;
  background: white;
  left: 62%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#start {
  position: fixed;
  background-color: red;
  bottom: 10%;
  left: 45%;
}
